      <div class="footer-section">
        <div class="container" style="margin-top:2% ">
            <div class="row" style="margin-top:5%" >
                {% if page.footer %}
                    <div class="footer col-md-3 col-sm-3">
                        {{ page.footer }}
                    </div>
                {% endif %}
                {% if page.footer1 %}
                    <div class="footer_one col-md-3 col-sm-3">
                        {{ page.footer1 }}
                    </div>
                {% endif %}
                {% if page.footer2 %}
                    <div class="footer_second col-md-3 col-sm-3">
                        {{ page.footer2 }}
                    </div>
                {% endif %}
                {% if page.footer3 %}
                    <div class="footer_third col-md-3 col-sm-3">
                        {{ page.footer3 }}                                                
                    </div>
                {% endif %}
            </div>
        </div>
            </div>